@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .perspective-3 {
      perspective: 300px;
    }
    .perspective-center {
      perspective-origin: 50% 50%;
    }
    .backface-hidden {
        backface-visibility: hidden;
    }
    .preserve-3d {
      transform-style: preserve-3d;
    }
    .bg-opacity {
      --tw-bg-opacity: 0.5;
    }
}

@layer components {

}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100vh;
}