@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

@layer components {
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
}

.backdrop-blur-08 {
  --tw-backdrop-blur: 0.8px;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch !important;
}
