@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /*This is a hack for now. After moving to app dir this can be removed.*/
    --font-inter: "__Inter_41196e", "__Inter_Fallback_41196e";
  }
  html,
  body {
    @apply m-0 h-full p-0 font-sans;
  }
  #__next {
    @apply h-full;
  }
}

@layer components {
  .shadow-square-input > div > div.sq-card-iframe-container {
    @apply shadow-sm;
  }
}

.backdrop-blur-08 {
  --tw-backdrop-blur: 0.8px;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch !important;
}
